<div class="new_post_header">
  <h1>Edit User Account</h1>
</div>

<div class="edit_setting_box">
  <%= simple_form_for @post do |f| %>
      <%= f.input :photo %>
      <%= f.input :description %>
      <%= f.submit 'Update', class: 'btn btn-default btn-block btn-primary' %>
  <% end %>
</div>
